.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    
}

.section1, .section2, .section3, .section4{
    display: flex;
    flex:1;
    max-width: 100%;
    
}
.section1 .logo {
    display: flex;
    align-items: center;
  }
  
 
  

div.section1{
    background-color: #1F2937;
    color: white;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

/* .logo.link {
   
    top: 0;
    right: 0;
    display:flex;
    justify-content: space-between;
    color:#e5e7eb;
  } */

  .logo.link {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    z-index: 10;
    margin-right: 20px;
  }

  .container.section1.content.hero {
    order: 1;
    display:flex;
  }
  
  .container.section1.content.secondary {
    order: 0;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  

div.section2{
    background-color: #3882F6;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: None;
    
 
}


  .section2 .strong {
    text-align: center;
  }
  .text-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section2 .text-box {
    width: 155px;
    height: 30px;
    margin: 5px;
    border-radius: 5px 0 5px 0;
    
  }




div.section3{
    background-color: #e5e7eb;
    color: black;
   
   

}

div.section4{
    background-image: #3882F6;
    
}

img.logo {
    max-width: 100%;
    height: 50px;
    margin-top: 0;
    object-fit: cover;
    
  }

img.placeholder{
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 50px;
    align-items: centre;
}

section3.quote{
    width: 180px;
    height: 50px;
    margin: 5px;
}

.action{
    background-color: #3882F6;
}

.logo{
    font-size: 36px extra-bold;
    color: white;
}

.content.hero{
    color: #F9FAF8;
    font-size: 48px;

}

.content.secondary{
    color:#F9FAF8;
    font-size: 18px;

}
 

  section1.content{
    color: #e5e7eb;
    font: 18px;
  }
  

  .section1 .logo {
    order: -1;
    font-size: 15px;
  }
  