.container {
  background: #1F2937;
  display: flex;
  justify-items: space-between;
  flex-direction:row;
}
p.logo{
  font-size: 24px;
  color: #F9FAF8;
}
nav{
  color:#F9FAF8;
  font-size: 14px;
}

.placeholder{
  width: 120px;
  height: 120px;
}


.content.hero{
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.content.secondary {
  font-size: 18px;
  color: #F9FAF8;
}

.section1 {
  width: 400px;
  margin-left:auto;
  margin-right:auto;
}

.section2 {
  background: white;
  align-items: center;
  display:flex;
  flex-direction:column;
}

.text-box {
  border: 1px solid blue;
  border-radius: 5px;
  width: 100px;
  height: 100px;
 
}

.section3{
  background: #E5E7Eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
